[submodule "_vim/pack/jiangmiao/start/auto-pairs"]
	path = _vim/pack/jiangmiao/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "_vim/pack/scrooloose/start/nerdtree"]
	path = _vim/pack/scrooloose/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/pack/ryanoasis/start/vim-devicons"]
	path = _vim/pack/ryanoasis/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "_vim/pack/simeji/start/winresizer"]
	path = _vim/pack/simeji/start/winresizer
	url = https://github.com/simeji/winresizer.git
[submodule "_vim/pack/itchyny/start/lightline.vim"]
	path = _vim/pack/itchyny/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "_vim/pack/airblade/start/vim-gitgutter"]
	path = _vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "_vim/pack/previm/opt/previm"]
	path = _vim/pack/previm/opt/previm
	url = https://github.com/previm/previm
[submodule "_vim/pack/Shougo/start/context_filetype.vim"]
	path = _vim/pack/Shougo/start/context_filetype.vim
	url = https://github.com/Shougo/context_filetype.vim
[submodule "_vim/pack/osyo-manga/start/vim-precious"]
	path = _vim/pack/osyo-manga/start/vim-precious
	url = https://github.com/osyo-manga/vim-precious
[submodule "_vim/pack/Yggdroot/start/indentLine"]
	path = _vim/pack/Yggdroot/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "_vim/pack/junegunn/start/fzf.vim"]
	path = _vim/pack/junegunn/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "_vim/pack/junegunn/start/fzf"]
	path = _vim/pack/junegunn/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "_vim/pack/ggreer/start/the_silver_searcher"]
	path = _vim/pack/ggreer/start/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher
[submodule "_vim/pack/prabirshrestha/start/async.vim"]
	path = _vim/pack/prabirshrestha/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "_vim/pack/prabirshrestha/start/asyncomplete.vim"]
	path = _vim/pack/prabirshrestha/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "_vim/pack/prabirshrestha/start/asyncomplete-lsp.vim"]
	path = _vim/pack/prabirshrestha/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "_vim/pack/prabirshrestha/start/vim-lsp"]
	path = _vim/pack/prabirshrestha/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "_vim/pack/dracula/start/dracula"]
	path = _vim/pack/dracula/start/dracula
	url = https://github.com/dracula/vim.git
