[submodule "_vim/pack/jiangmiao/start/auto-pairs"]
	path = _vim/pack/jiangmiao/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "_vim/pack/scrooloose/start/nerdtree"]
	path = _vim/pack/scrooloose/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/pack/ryanoasis/start/vim-devicons"]
	path = _vim/pack/ryanoasis/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "_vim/pack/simeji/start/winresizer"]
	path = _vim/pack/simeji/start/winresizer
	url = https://github.com/simeji/winresizer.git
[submodule "_vim/pack/itchyny/start/lightline.vim"]
	path = _vim/pack/itchyny/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "_vim/pack/airblade/start/vim-gitgutter"]
	path = _vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "_vim/pack/vim-jp/start/vimdoc-ja"]
	path = _vim/pack/vim-jp/start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja
[submodule "_vim/pack/previm/opt/previm"]
	path = _vim/pack/previm/opt/previm
	url = https://github.com/previm/previm
[submodule "_vim/pack/Shougo/start/context_filetype.vim"]
	path = _vim/pack/Shougo/start/context_filetype.vim
	url = https://github.com/Shougo/context_filetype.vim
[submodule "_vim/pack/osyo-manga/start/vim-precious"]
	path = _vim/pack/osyo-manga/start/vim-precious
	url = https://github.com/osyo-manga/vim-precious
