[submodule "_vim/pack/mypackage/start/auto-pairs"]
	path = _vim/pack/mypackage/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/mypackage/opt/vim-toml"]
	path = pack/mypackage/opt/vim-toml
	url = https://github.com/cespare/vim-toml.git
